<div style="background: #e2d4f0; padding: 30px 0; text-align: center;font-family: Arial;">
  <h1>Cloud Support Case</h1>
</div>
<div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial">
  <p class="background-color: #e6f2ff"> You receive the current email, as you have been identified as in context of this support ticket, either you are the creator or ever replied the ticket! The reply content</p>
  <p><%= ticket_content %></p>  
  <p><a href="<%= host_dns %>/support/tickets/<%= support_ticket_id %>">Click</a> to get more details<p>
</div>
<div style="background: #4b2179; padding: 30px 0; text-align: center; font-family: Arial; color: #fff;">
  <p>This is a machine generated reply, please don't reply!</p>
</div>