<div style="background: #e2d4f0; padding: 30px 0; text-align: center;font-family: Arial;">
  <h1>Uniview User Console Request: Email Validation</h1>
</div>
<div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial">
  <p class="background-color: #e6f2ff"> The system has received a request for user registration with the current email! If this is intended, please click below link to confirm!</p>
  
	<p>Click <a href="<%= email_verify_link %>">here</a> to confirm<p>
	<br>
	<p>In case your link blocks from your email, you may copy and paste below to a browser to confirm</p>
	<p><%= email_verify_link %></p>
  
</div>
<div style="background: #4b2179; padding: 30px 0; text-align: center; font-family: Arial; color: #fff;">
  <p>THIS IS AN AUTOMATED MESSAGE. PLEASE DO NOT REPLY. THANK YOU!
	<br><br><i>The contents of this communication, including any attachment(s), are confidential. If you are not the intended recipient (or are not receiving this communication on behalf of the intended recipient), please notify the sender immediately and delete or destroy this communication without reading it, and without making, forwarding, or retaining any copy or record of it or its contents. Thank you. Note: We have taken precautions against viruses, but take no responsibility for loss or damage caused by any virus present.</i>
  </p>
</div>